/* You can add global styles to this file, and also import other style files */

body {
    background-color: #889FF9;
    color: white;
    justify-content: center;
    margin: 0px;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}